.admin {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
}

#admin-orders .selection {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#admin-orders .selection ion-icon {
    width: 16px;
    height: 16px;

    padding: 2px;
    border-radius: 50%;

    color: white;

    margin-left: 10px;
    margin-right: -10px;
}

#admin-orders .selection ion-icon:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.admin .content {
    width: 100%;
    max-width: 1600px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 50px;
    padding-bottom: 100px;
}

@media (max-width: 1300px) {
    .admin .content {
        padding: 30px;
    }
}

@media (max-width: 800px) {
    .admin .content {
        padding: 20px;
    }
}

.admin .content .title {
    color: #383838;
    font-size: 40px;
    font-weight: 700;

    margin-bottom: 20px;
}

.admin .section {
    color: #383838;
    font-size: 20px;
    font-weight: 700;

    width: 100%;

    padding-bottom: 5px;
    margin: 30px 0px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.admin .content .text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    width: 50%;

    margin-bottom: 30px;
}

.admin .content .panel {
    display: flex;
    flex-direction: column;

    margin-bottom: 30px;
}

@media (max-width: 800px) {
    .admin .content .panel {
        width: 100%;
    }
}

.admin .content .panel .heading {
    color: #383838;
    font-size: 16px;
    font-weight: 700;

    margin: 0px;
    padding: 0px;

    margin-bottom: 10px;
}

.admin .content .panel .field {
    color: #383838;
    font-size: 15px;
    font-weight: 400;

    margin: 0px;
    padding: 0px;
    padding: 8px;

    width: 400px;

    border: 1px solid lightgray;
    outline: none;
}

@media (max-width: 800px) {
    .admin .content .panel .field {
        width: 100%;
    }
}

.admin .content .panel .area {
    color: #383838;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;

    margin: 0px;
    padding: 0px;
    padding: 8px;

    width: 600px;

    border: 1px solid lightgray;
    outline: none;
    resize: none;
}

@media (max-width: 800px) {
    .admin .content .panel .area {
        width: 100%;
    }
}

#admin-shop .content .panel .tips {
    display: flex;
    flex-direction: column;
}

#admin-shop .content .panel .tips .tip {
    margin-bottom: 15px;
}

#admin-shop .content .panel .select {
    color: #383838;
    font-size: 15px;
    font-weight: 400;

    margin: 0px;
    padding: 0px;
    padding: 8px;

    width: 300px;

    border: 1px solid lightgray;
    outline: none;
}

@media (max-width: 800px) {
    #admin-shop .content .panel .select {
        width: 100%;
    }
}

.admin .content .panel .chooser {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

@media (max-width: 1000px) {
    .admin .content .panel .chooser {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .admin .content .panel .chooser {
        grid-template-columns: repeat(1, 1fr);
    }
}

.admin .content .panel .chooser .item {
    color: #383838;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;

    cursor: pointer;

    transition: all 100ms;

    background-color: rgba(0, 0, 0, 0.07);
}

.admin .content .panel .chooser .item:hover {
    background-color: rgba(0, 0, 0, 0.14);
}


.admin .content .file-input {
    display: none;
}

.admin .content .image {
    width: 600px;

    margin: 20px 0px 60px 0px;
}

@media (max-width: 800px) {
    .admin .content .image {
        width: 100%;
    }
}

.admin .content .button-filled {
    align-self: flex-start;
}

.admin .content .done-button {
    margin-top: 50px;
}

@media (max-width: 800px) {
    .admin .content .done-button {
        align-self: center;
    }
}

/* -----------------------------------------*/


.admin .content .menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

    margin: 40px 0px;
}

.admin .content .menu .item {
    color: #383838;
    font-size: 16px;
    font-weight: 700;

    padding: 10px 20px;
    margin-right: 10px;
    
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.03);

    transition: all 200ms;
}

.admin .content .menu .faded {
    opacity: 0.5;
}

@media (max-width: 1000px) {
    .admin.content .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .admin .content .menu .item {
        margin: 0px;
        margin-bottom: 10px;
    }
}

.admin .content .menu .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#admin-orders .content .orders {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

#admin-orders .content .empty-message {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 400;

    margin-top: 20px;
}

/* -----------------------------------------*/

#admin-blog .content .toolbar {
    width: 100%;

    padding: 20px;

    margin-top: 30px;

    border: 1px solid rgba(0, 0, 0, 0.2);
}

#admin-blog .content .editor {
    width: 100%;
    height: 400px;

    margin-top: 10px;
    margin-bottom: 50px;

    box-shadow: 0px 0px 0px 0px transparent;
    outline: none;
}

@media (max-width: 800px) {
    #admin-blog .content .editor {
        height: 600px;
    }
}

#admin-analytics .statistics {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin-top: 30px;
}

#admin-analytics .statistics .line {
    width: 100%;
    height: 2px;

    border-radius: 1px;

    margin: 20px 0px;

    background-color: rgba(0, 0, 0, 0.05);
}

#admin-analytics .statistics .item {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#admin-analytics .statistics .item .left {
    flex: 1;
}

#admin-analytics .statistics .item .left .title {
    color: #383838;
    font-size: 23px;
    font-weight: 700;
    line-height: 23px;

    margin-bottom: 10px;
}

#admin-analytics .statistics .item .left .text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;

    margin: 0px;
    padding: 0px;
}

#admin-analytics .statistics .item .value {
    color: #383838;
    font-size: 30px;
    font-weight: 700;
}

#admin-emails .content .emails {
    width: 100%;

    display: flex;
    flex-direction: column;
}

#admin-emails .content .emails .heading {
    color: #383838;
    font-size: 22px;
    font-weight: 700;

    margin-bottom: 10px;
}

#admin-emails .content .emails .text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;

    margin: 0px;
    padding: 0px;
}

#admin-emails .content .emails .area {
    color: #383838;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;

    margin: 0px;
    padding: 0px;
    padding: 8px;

    width: 600px;

    border: 1px solid lightgray;
    outline: none;
    resize: none;

    margin: 30px 0px;
}