@media (min-width: 900px) {
    #banner {
        position: fixed;
        right: 30px;
        bottom: 30px;

        border-radius: 5px;

        background-color: #A161B3;

        z-index: 800;
    }

    #banner .body {
        position: relative;

        display: flex;
        flex-direction: row;

        padding: 25px;
    }

    #banner .body .cancel {
        position: absolute;
        right: 20px;
        top: 20px;

        width: 16px;
        height: 16px;

        cursor: pointer;
    }

    #banner .body .info-panel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 350px;
    }

    #banner .body .info-panel .title {
        color: white;
        font-size: 25px;
        font-weight: 700;

        margin-bottom: 20px;
    }

    #banner .body .info-panel .text {
        color: white;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
    }

    #banner .body .info-panel .button-filled {
        color: #383838;
        background-color: white;

        margin-top: 20px;
    }

    #banner .body .image-panel {
        width: 260px;
    }

    #banner .body .image-panel .image {
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
}

@media (max-width: 900px) {
    #banner {
        position: fixed;
        right: 0px;
        bottom: 0px;

        width: 100vw;
        
        height: 100%;
        height: -moz-available;
        height: -webkit-fill-available;
        height: fill-available;

        z-index: 800;

        background-color: #A161B3;
    }

    #banner .body {
        position: relative;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 20px;
    }

    #banner .body .cancel {
        position: absolute;
        right: 20px;
        top: 20px;

        width: 16px;
        height: 16px;

        cursor: pointer;
    }

    #banner .body .info-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #banner .body .info-panel .title {
        color: white;
        font-size: 27px;
        font-weight: 700;
        text-align: center;

        margin-bottom: 20px;
    }

    #banner .body .info-panel .text {
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        text-align: center;

        margin-bottom: 30px;
    }

    #banner .body .info-panel .button-filled {
        color: #383838;
        background-color: white;

        margin-bottom: 0px;
    }

    #banner .body .image-panel {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 30px;
    }

    #banner .body .image-panel .image {
        height: 230px;
        object-fit: contain;
    }
}