#checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkout .content {
    display: flex;
    flex-direction: row;

    width: 100%;
    max-width: 1600px;

    padding: 0px 100px;
}

@media (max-width: 1200px) {
    #checkout .content {
        padding: 0px 50px;

        flex-direction: column;
    }
}

@media (max-width: 800px) {
    #checkout .content {
        padding: 0px 20px;
    }
}

#checkout .content .body {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: 50px 50px 50px 0px;
}

@media (max-width: 1200px) {
    #checkout .content .body {
        padding: 50px 0px;
    }
}

#checkout .content .body .heading {
    color: #383838;
    font-size: 35px;
    font-weight: 700;

    margin: 0px;
    margin-bottom: 50px;
}

#checkout .content .body .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
}

#checkout .content .body .section .heading {
    color: #383838;
    font-size: 20px;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding-bottom: 10px;
    margin-bottom: 30px;

    width: 100%;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 700px) {
    #checkout .content .body .section .heading {
        font-size: 18px;
    }
}

#checkout .content .body .section .heading .item {
    color: #383838;
    font-size: 14px;
    font-weight: 700;

    padding: 10px 20px;
    
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.03);

    transition: all 200ms;
}

#checkout .content .body .section .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    width: 100%;
}

@media (max-width: 1000px) {
    #checkout .content .body .section .row {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media (max-width: 700px) {
    #checkout .content .body .section .row {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

#checkout .content .body .section .row .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#checkout .content .body .section .row .item .heading {
    color: #383838;
    font-size: 16px;
    font-weight: 700;

    padding: 0px;
    margin-bottom: 10px;

    border: none;
}

#checkout .content .body .section .row .item .field {
    color: black;
    font-size: 15px;
    font-weight: 400;

    padding: 8px;

    margin-bottom: 10px;

    width: 100%;

    border: 1px solid lightgray;
    outline: none;
}