#contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

#contact .wrapper {
    width: 100%;
    max-width: 1600px;
}

#contact .content-panel {
    width: 100%;

    display: flex;
    flex-direction: row;
}

@media (max-width: 1100px) {
    #contact .content-panel {
        flex-direction: column;
    }
}

#contact .content-panel .info-panel {
    flex: 2;

    display: flex;
    flex-direction: column;

    padding: 50px 50px 50px 100px;
}

@media (max-width: 1100px) {
    #contact .content-panel .info-panel {
        padding: 30px;
    }
}

@media (max-width: 800px) {
    #contact .content-panel .info-panel {
        padding: 20px;
    }
}

#contact .content-panel .info-panel .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact .content-panel .info-panel .panel .title {
    color: #383838;
    font-size: 25px;
    font-weight: 700;

    margin-bottom: 20px;
}

#contact .content-panel .info-panel .panel .info {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    font-weight: 400;

    margin-bottom: 5px;
}

#contact .content-panel .form-panel {
    flex: 3;

    display: flex;
    flex-direction: column;

    padding: 50px 100px 50px 50px;
}

@media (max-width: 1100px) {
    #contact .content-panel .form-panel {
        padding: 30px;
    }
}

@media (max-width: 800px) {
    #contact .content-panel .form-panel {
        padding: 20px;
    }
}

#contact .content-panel .form-panel .title {
    color: #383838;
    font-size: 25px;
    font-weight: 700;

    margin-bottom: 20px;
}

#contact .content-panel .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact .content-panel .form .field {
    color: #383838;
    font-size: 15px;
    font-weight: 400;

    padding: 8px;

    margin-bottom: 10px;

    width: 50%;

    border: 1px solid lightgray;
    outline: none;
}

@media (max-width: 900px) {
    #contact .content-panel .form .field {
        width: 100%;
    }
}

#contact .content-panel .form .area {
    color: #383838;
    font-size: 15px;
    font-weight: 400;

    padding: 8px;

    margin-bottom: 30px;

    width: 100%;

    border: 1px solid lightgray;
    outline: none;
    resize: none;
}

#contact .content-panel .form .button {
    
}

#contact .map {
    width: 100%;
    height: 400px;

    padding: 0px 100px;
    margin: 50px 0px;
}

@media (max-width: 1100px) {
    #contact .map {
        padding: 0px 30px;
        margin: 30px 0px;
    }
}

@media (max-width: 800px) {
    #contact .map {
        padding: 0px 20px;
        margin: 20px 0px;
    }
}