#cookies {
    width: 100%;

    padding: 12px;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;
    left: 0px;
    top: 140px;

    z-index: 98;

    background-color: white;
    box-shadow: 0px 0px 15px -5px lightgray;
}

@media (max-width: 1320px) {
    #cookies {
        top: 70px;
    }
}

@media (max-width: 900px) {
    #cookies {
        flex-direction: column;
        align-items: flex-start;
    }
}

#cookies .text {
    color: #383838;
    font-size: 14px;
    font-weight: 400;
}

#cookies .button-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cookies .button-filled {
    margin-right: 12px;
}

#cookies .button-filled {
    font-size: 12px;

    padding: 7px 25px;
}

#cookies .button-outline {
    font-size: 12px;

    margin: 0px;
    padding: 7px 25px;
}

@media (max-width: 900px) {
    #cookies .text {
        margin-bottom: 20px;
    }
}