.coupon-popup-screen {
    position: fixed;
    left: 0px;
    top: 0px;

    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.4);

    z-index: 200;
}

.coupon-popup-screen .popup {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 600px;
    width: 100%;

    padding: 30px;
    border-radius: 5px;

    background-color: white;
}

.coupon-popup-screen .popup .title {
    color: #383838;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;

    margin-bottom: 15px;
}

.coupon-popup-screen .popup .text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 26px;

    margin-bottom: 20px;
}

.coupon-popup-screen .popup .field {
    color: black;
    font-size: 15px;
    font-weight: 400;

    padding: 8px;

    margin: 0px;
    margin-right: 10px;
    margin-bottom: 10px;

    flex: 1;

    border: 1px solid lightgray;
    outline: none;
}

.coupon-popup-screen .popup .chooser {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.coupon-popup-screen .popup .chooser .item {
    color: black;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;

    padding: 10px;

    transition: all 200ms;

    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.05);
}

.coupon-popup-screen .popup .chooser .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.coupon-popup-screen .popup .chooser .selected {
    color: white;
    background-color: #A161B3;
}

.coupon-popup-screen .popup .chooser .selected:hover {
    background-color: #A161B3;
}

.coupon-popup-screen .popup .button-panel {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

.coupon-popup-screen .popup .video-panel {
    width: 100%;
    margin: -10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: none;
    box-shadow: none;
}

.coupon-popup-screen .popup .video-panel .video-item {
    padding: 10px;
    margin: 8px;

    background-color: rgba(0, 0, 0, 0.05);

    cursor: pointer;
}

.coupon-popup-screen .popup .video-panel .video-item .name {
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.coupon-popup-screen .popup .select-all-button {
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 26px;

    margin-top: 30px;

    cursor: pointer;
}

.coupon-popup-screen .popup .select-all-button:hover {
    text-decoration: underline;
}