#footer {
    width: 100%;

    /*margin-top: 50px;*/

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F5F5F5;
}

@media (min-width: 1500px) {
    #footer .wrapper {
        width: 1500px;
    
        display: flex;
        flex-direction: column;
    } 
}

@media (max-width: 1500px) {
    #footer .wrapper {
        width: 100%;
    
        display: flex;
        flex-direction: column;
    }   
}

@media (min-width: 800px) {
    #footer .button-panel {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        padding: 30px 0px 30px 50px;

        background-color: white;
    }

    #footer .button-panel div {
        margin-right: 30px;
    }
}

@media (max-width: 800px) {
    #footer .button-panel {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 30px 25px;

        background-color: white;
    }
}

@media (min-width: 1500px) {
    #footer .logo-panel {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 25px 30px;

        margin-top: 50px;
    }

    #footer .logo-panel .logo {
        width: 250px;
    }
}

@media (max-width: 1500px) and (min-width: 1200px) {
    #footer .logo-panel {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 20px 30px;

        margin-top: 50px;
    }

    #footer .logo-panel .logo {
        width: 250px;
    }
}

@media (max-width: 1200px) {
    #footer .logo-panel {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 20px;

        margin-top: 50px;
        margin-bottom: 20px;
    }

    #footer .logo-panel .logo {
        width: 200px;
    }
}

@media (min-width: 1500px) {
    #footer .top-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 50px 30px 0px 30px;
        padding-bottom: 50px;

        border-bottom: 1px solid lightgray;
    }

    #footer .top-panel .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #footer .top-panel .column .title {
        color: #383838;
        font-size: 18px;
        font-weight: 700;

        margin-bottom: 10px;
    }

    #footer .top-panel .column .info {
        color: #383838;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;

        padding: 4px 0px;

        cursor: pointer;
    }
}

@media (max-width: 1500px) and (min-width: 1200px) {
    #footer .top-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 50px 30px 0px 30px;
        padding-bottom: 50px;

        border-bottom: 1px solid lightgray;
    }

    #footer .top-panel .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #footer .top-panel .column .title {
        color: #383838;
        font-size: 18px;
        font-weight: 700;

        margin-bottom: 10px;
    }

    #footer .top-panel .column .info {
        color: #383838;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;

        padding: 4px 0px;

        cursor: pointer;
    }
}

@media (max-width: 1200px) {
    #footer .top-panel {
        display: flex;
        flex-direction: column;

        margin: 20px 20px 0px 20px;
        padding-bottom: 20px;

        border-bottom: 1px solid lightgray;
    }

    #footer .top-panel .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin-bottom: 50px;
    }

    #footer .top-panel .column .title {
        color: #383838;
        font-size: 18px;
        font-weight: 700;

        margin-bottom: 10px;
    }

    #footer .top-panel .column .info {
        color: #383838;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;

        padding: 5px 0px;

        cursor: pointer;
    }
}

@media (min-width: 1750px) {
    #footer .top-panel {
        margin: 50px 50px 0px 20px;
    }

    #footer .logo-panel {
        padding: 25px 50px 25px 20px;
    }
}

#footer .bottom-panel {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 25px;
}

#footer .bottom-panel .text {
    color: #383838;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}