#footer {
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: #F5F5F5;
}

#footer .button-panel {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: 0px 0px 30px 50px;

    background-color: white;
}

#footer .button-panel div {
    margin-right: 30px;
}

#footer .top-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 50px 120px 0px 120px;
    padding-bottom: 50px;

    border-bottom: 1px solid lightgray;
}

#footer .top-panel .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#footer .top-panel .column .title {
    color: #383838;
    font-size: 15px;
    font-weight: 700;

    margin-bottom: 10px;
}

#footer .top-panel .column .info {
    color: #383838;
    font-size: 15px;
    font-weight: 400;

    padding: 3px 0px;
}

#footer .bottom-panel {
    display: flex;
    flex-direction: row;
}

#footer .bottom-panel .space {
    flex: 1;

    padding: 50px 0px 0px 120px;
}

#footer .bottom-panel .space .logo {
    width: 100%;
}

#footer .bottom-panel .middle {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 120px;
}

#footer .bottom-panel .middle .top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer .bottom-panel .middle .top .item {
    color: black;
    font-size: 15px;
    font-weight: 400;

    padding: 10px 25px;
}

#footer .bottom-panel .middle .top .divider {
    width: 2px;
    height: 40%;

    background-color: rgba(0, 0, 0, 0.08);
}

#footer .bottom-panel .middle .bottom {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 30px;
}

#footer .bottom-panel .middle .bottom ion-icon {
    width: 25px;
    height: 25px;

    margin: 0px 10px;

    color: #A161B3;
}