#header {
    position: fixed;    
    left: 0px;
    top: 0px;

    transition: top 300ms;

    width: 100%;
    height: 140px;
    
    background-color: white;

    z-index: 100;
}

@media (max-width: 1380px) {
    #header {
        height: 70px;
    }
}

#header .border-panel {
    width: 100%;
    height: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#header .border-panel .border {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;

    background-color: rgba(0, 0, 0, 0.05);
}

@media (min-width: 1500px) {
    #header .border-panel .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 1500px;
        height: 100%;
    }
}

@media (max-width: 1500px) {
    #header .border-panel .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        width: 100%;
        height: 100%;
    }
}

#header .border-panel .wrapper .logo-panel {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 30px;
}

#header .border-panel .wrapper .logo-panel .logo {
    width: 250px;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1380px) {
    #header .border-panel .wrapper .logo-panel {
        justify-content: flex-start;
    
        padding: 0px 20px;
    }
    
    #header .border-panel .wrapper .logo-panel .logo {
        width: auto;
        height: 30px;

        margin-top: 5px;
    }
}

#header .border-panel .wrapper .info-panel {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding: 0px 40px 0px 0px;
}

@media (max-width: 1380px) {
    #header .border-panel .wrapper .info-panel {
        display: none;
    }
}

#header .border-panel .wrapper .info-panel .contact-panel {
    display: flex;
    flex-direction: row;
    align-items: center;

    flex: 1;

    padding: 0px 10px;
}

#header .border-panel .wrapper .info-panel .contact-panel .item {
    color: #383838;
    font-size: 16px;
    font-weight: 700;
}

#header .border-panel .wrapper .info-panel .contact-panel .break {
    width: 30px;
}

#header .border-panel .wrapper .info-panel .menu-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header .border-panel .wrapper .info-panel .menu-panel .item {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 60px;

    padding: 10px;

    color: #383838;
    font-size: 16px;
    font-weight: 700;

    text-decoration: none;

    border-bottom: 2px solid transparent;

    transition: all 200ms;

    cursor: pointer;
}

#header .border-panel .wrapper .info-panel .menu-panel .item:hover {
    border-bottom: 2px solid #A161B3;
}

#header .border-panel .wrapper .info-panel .menu-panel .item ion-icon {
    margin-right: 15px;
}

#header .border-panel .wrapper .info-panel .menu-panel .divider {
    width: 2px;
    height: 16px;

    border-radius: 10px;

    margin: 0px 10px;

    background-color: rgba(0, 0, 0, 0.06);
}

/*
#header {
    position: fixed;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 130px;

    background-color: white;

    z-index: 100;
}

@media (max-width: 970px) {
    #header {
        height: auto;
    }
}

#header .border-panel {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#header .border-panel .border {
    width: 100%;
    height: 2px;

    position: absolute;
    left: 0px;
    bottom: 0px;

    background-color: rgb(240, 240, 240);
}

#header .wrapper {
    position: relative;
}

@media (min-width: 1750px) {
    #header .wrapper {
        width: 1750px;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 1750px) {
    #header .wrapper {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 1400px) {
    #header .wrapper {
        justify-content: center;
    }
}

@media (max-width: 970px) {
    #header .wrapper {
        align-items: center;
        justify-content: space-between;

        padding: 15px;
    }
}

#header .wrapper .left-panel {
    width: 250px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

@media (max-width: 1400px) {
    #header .wrapper .left-panel {
        display: none;
    }
}

@media (max-width: 970px) {
    #header .wrapper .left-panel {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 150px;
        height: 100%;

        padding: 0px;
        margin: 0px;
    }
}

#header .wrapper .left-panel .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 970px) {
    #header .wrapper .left-panel .logo {
        padding: 0px;
        margin: 0px;

        width: 100%;
        height: 100%;
        object-fit: contain;

        align-self: center;
    }
}

#header .wrapper .middle-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 970px) {
    #header .wrapper .middle-panel {
        display: none;
    }
}

#header .wrapper .middle-panel .contact-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60%;
}

@media (max-width: 1400px) {
    #header .wrapper .middle-panel .contact-panel {
        justify-content: space-between;
    }
}

#header .wrapper .middle-panel .contact-panel .left-panel {
    display: none;
}

@media (max-width: 1400px) {
    #header .wrapper .middle-panel .contact-panel .left-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 200px;
        height: 100%;
    }

    #header .wrapper .middle-panel .contact-panel .left-panel .logo {
        width: 100%;
        height: 100%;

        object-fit: contain;
    }
}

#header .wrapper .middle-panel .contact-panel .middle-panel {
    display: flex;
    flex-direction: row;

    height: 100%;
}

#header .wrapper .middle-panel .contact-panel .middle-panel .item {
    color: #383838;
    font-size: 16px;
    font-weight: 700;
}

#header .wrapper .middle-panel .contact-panel .middle-panel ion-icon {
    color: #383838;

    width: 25px;
    height: 25px;
}

#header .wrapper .middle-panel .contact-panel .middle-panel .break {
    width: 50px;
}

#header .wrapper .middle-panel .contact-panel .right-panel {
    display: none;
}

@media (max-width: 1400px) {
    #header .wrapper .middle-panel .contact-panel .right-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 200px;
        height: 100%;
    }
}

#header .wrapper .middle-panel .menu-panel {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 40%;
}

#header .wrapper .middle-panel .menu-panel .item {
    color: #383838;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
    height: 100%;

    transition: all 200ms;

    border-bottom: 2px solid transparent;
    background-color: red;

    z-index: 1;
}

#header .wrapper .middle-panel .menu-panel .item:hover {
    border-bottom: 2px solid #A161B3;
}

#header .wrapper .middle-panel .menu-panel ion-icon {
    color: #383838;

    padding: 10px;

    transition: all 200ms;

    border-bottom: 2px solid transparent;

    background-color: red;

    z-index: 1;
}

#header .wrapper .middle-panel .menu-panel .divider {
    width: 2px;
    height: 16px;

    border-radius: 10px;

    margin: 0px 10px;

    background-color: rgba(0, 0, 0, 0.06);
}

@media (max-width: 1400px) {
    #header .wrapper .middle-panel .menu-panel .divider {
        margin: 0px 16px;
    }
}

#header .wrapper .right-panel {
    width: 250px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

@media (max-width: 1400px) {
    #header .wrapper .right-panel {
        display: none;
    }
}

#header .wrapper .right-panel .button-filled {

}*/