#home {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
}

.banner-buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

@media (min-width: 1200px) {
    #home .slideshow {
        width: 100%;
        height: 100vh;
        max-height: 550px;

        background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../assets/landing-banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 25px 200px;
    }

    #home .slideshow .title {
        color: white;
        font-size: 50px;
        font-weight: 700;
        text-align: center;

        margin-bottom: 30px;
    }

    #home .slideshow .text {
        color: lightgray;
        font-size: 22px;
        font-weight: 400;
        line-height: 35px;
        text-align: center;

        margin-bottom: 30px;

        max-width: 1500px;
    }

    #home .slideshow .button-filled {
        margin-bottom: 50px;
    }

    #home .slideshow .arrow {
        width: 70px;
        object-fit: contain;

        padding: 15px;

        border-radius: 10px;

        transition: all 100ms;

        cursor: pointer;

        align-self: center;
    }

    #home .slideshow .arrow:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

@media (max-width: 1200px) {
    #home .slideshow {
        width: 100%;

        background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../assets/landing-banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 25px;
    }

    #home .slideshow .title {
        color: white;
        font-size: 35px;
        font-weight: 700;
        text-align: center;

        margin-bottom: 30px;
    }

    #home .slideshow .text {
        color: lightgray;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;

        margin-bottom: 30px;
    }

    #home .slideshow .button-filled {
        margin-bottom: 30px;
    }

    #home .slideshow .arrow {
        width: 60px;
        object-fit: contain;

        padding: 15px;

        border-radius: 10px;

        transition: all 100ms;

        cursor: pointer;

        align-self: center;
    }

    #home .slideshow .arrow:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

@media (min-width: 1150px) {
    #home .oils {
        width: 100%;
        max-width: 1600px;

        padding: 50px;
        padding-bottom: 0px;

        display: flex;
        flex-direction: column;
    }

    #home .oils .title-large {
        align-self: center;
    }

    #home .oils .panel {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-top: 30px;
    }

    #home .oils .panel .image {
        width: 450px;
        object-fit: contain;

        padding: 30px;

        margin-right: 50px;
    }

    #home .oils .panel .info {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #home .oils .panel .info .text {
        color: #383838;
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;

        margin-bottom: 30px;
    }

    #home .oils .panel .info .title-large {
        align-self: flex-start;

        margin-bottom: 20px;
    }

    #home .oils .panel .images {
        height: 300px;

        margin-left: 100px;
    }
}

@media (max-width: 1150px) {
    #home .oils {
        width: 100%;

        padding: 25px;
        padding-bottom: 0px;

        display: flex;
        flex-direction: column;
    }

    #home .oils .title-large {
        align-self: center;
    }

    #home .oils .panel {
        display: flex;
        align-items: center;

        margin-top: 30px;
    }

    #oils-panel-1 {
        flex-direction: column-reverse;
    }

    #oils-panel-2 {
        flex-direction: column;
    }

    #home .oils .panel .image {
        max-width: 500px;
        width: 100%;

        object-fit: contain;

        padding: 30px;
    }

    #home .oils .title-large {
        text-align: center;
    }

    #home .oils .panel .info {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 30px;
    }

    #home .oils .panel .info .title-large {
        text-align: center;
        margin-bottom: 20px;
    }

    #home .oils .panel .info .text {
        color: #383838;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;

        margin-bottom: 30px;
    }

    #home .oils .panel .images {
        max-width: 400px;
        width: 100%;

        margin: 30px 0px;
    }
}

@media (min-width: 1150px) {
    #home .links {
        width: 100%;
        max-width: 1600px;

        padding: 50px;

        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

    #home .links .item {
        height: 350px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        padding: 40px;

        border-radius: 5px;

        background-repeat: no-repeat;
        background-size: cover;
    }

    #home .links .item .title {
        color: white;
        font-size: 30px;
        font-weight: 700;
        text-align: center;

        margin-bottom: 15px;
    }

    #home .links .item.button-filled {
        color: #383838;
        background-color: white;
    }
}

#links-item-1 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../assets/landing-box-1.png");
}

#links-item-2 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../assets/landing-box-2.png");
}

#links-item-3 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../assets/landing-box-3.png");
}

#links-item-4 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../assets/landing-box-4.png");
}

@media (max-width: 1150px) and (min-width: 800px) {
    #home .links {
        width: 100%;

        padding: 25px;

        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

    #home .links .item {
        height: 350px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        padding: 40px;

        border-radius: 5px;

        background-repeat: no-repeat;
        background-size: cover;
    }

    #home .links .item .title {
        color: white;
        font-size: 35px;
        font-weight: 700;
        text-align: center;

        margin-bottom: 15px;
    }

    #home .links .item.button-filled {
        color: #383838;
        background-color: white;
    }
}

@media (max-width: 800px) {
    #home .links {
        width: 100%;

        padding: 15px;

        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }

    #home .links .item {
        height: 300px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        padding: 20px 20px 40px 20px;

        border-radius: 5px;

        background-repeat: no-repeat;
        background-size: cover;
    }

    #home .links .item .title {
        color: white;
        font-size: 30px;
        font-weight: 700;
        text-align: center;

        margin-bottom: 15px;
    }

    #home .links .item.button-filled {
        color: #383838;
        background-color: white;
    }
}

#home .ebook {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;

    background-color: #A161B3;
}

#home .ebook .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    max-width: 1600px;

    padding: 75px 100px;
}

@media (max-width: 1100px) {
    #home .ebook .wrapper {
        padding: 50px;
    }
}

@media (max-width: 800px) {
    #home .ebook .wrapper {
        flex-direction: column-reverse;

        padding: 50px 20px;
    }
}

#home .ebook .family-image {
    height: 350px;

    margin-right: 100px;
}

@media (max-width: 800px) {
    #home .ebook .family-image {
        width: 80%;
        max-width: 300px;
        height: auto;

        margin: 0px;
    }
}

#home .ebook .info-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 800px) {
    #home .ebook .info-panel {
        margin-bottom: 75px;
    }
}

#home .ebook .title {
    color: white;
    font-size: 35px;
    font-weight: 700;

    margin-bottom: 20px;
}

#home .ebook .text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    margin-bottom: 40px;
}

#home .ebook .button-filled {
    color: #383838;

    background-color: white;

    transition: all 100ms;
}

#home .ebook .button-filled:hover {
    box-shadow: 0px 0px 50px -20px black;
}

#ebook-chooser {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.4);

    z-index: 900;
}

#ebook-chooser .panel {
    width: 100%;
    max-width: 600px;
    height: auto;
    max-height: 600px;

    display: flex;
    flex-direction: column;

    padding: 25px;

    border-radius: 5px;

    background-color: white;

    z-index: 2;
}

@media (max-width: 800px) {
    #ebook-chooser .panel {
        height: 100%;

        border-radius: 0px;
    }
}

#ebook-chooser .panel .title {
    color: #383838;
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 30px;
}

#ebook-chooser .panel .ebooks {
    height: auto;

    overflow-y: scroll;
}

@media (max-width: 800px) {
    #ebook-chooser .panel .ebooks {
        flex: 1;
    }
}

#ebook-chooser .panel .ebooks::-webkit-scrollbar {
    display: none;
}

#ebook-chooser .panel .ebooks .item {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px 0px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#ebook-chooser .panel .ebooks .item .name {
    color: #383838;
    font-size: 16px;
    font-weight: 700;
}

#ebook-chooser .panel .ebooks .item .pdf {
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 400;

    margin: 0px 15px;
}

@media (max-width: 800px) {
    #ebook-chooser .panel .ebooks .item .button-filled {
        font-size: 12px;
    }
}