#login {
    width: 100%;
}

#login .content {
    width: 100%;

    display: flex;
    flex-direction: row;
}

#login .content .left-panel {
    width: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #A161B3;
}

@media (max-width: 1100px) {
    #login .content .left-panel {
        width: 300px;
    }
}

@media (max-width: 800px) {
    #login .content .left-panel {
        display: none;
    }
}

#login .content .left-panel .icon {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

#login .content .right-panel {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: 50px;
    padding-bottom: 100px;

    background-color: #F5F5F5;
    background-color: white;
}

@media (max-width: 800px) {
    #login .content .right-panel {
        padding: 20px 20px 50px 20px;
    }
}

#login .content .right-panel .title {
    color: #383838;
    font-size: 40px;
    font-weight: 700;

    margin-bottom: 10px;
}

#login .content .right-panel .text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;

    width: 75%;

    margin-bottom: 50px;
}

@media (max-width: 800px) {
    #login .content .right-panel .text {
        width: 100%;
    }
}

#login .content .right-panel .field {
    color: black;
    font-size: 15px;
    font-weight: 400;

    padding: 8px;

    margin-bottom: 10px;

    width: 350px;

    border: 1px solid lightgray;
    outline: none;
}

@media (max-width: 600px) {
    #login .content .right-panel .field {
        width: 100%;
    }
}

#login .content .right-panel .button-filled {
    width: 170px;
    margin-top: 50px;
}

#login .content .right-panel .button-outline {
    width: 170px;
    margin-top: 10px;
}