@media (min-width: 1320px) {
    #menu-button {
        display: none;
    }

    #mobile-menu {
        display: none;
    }
}

@media (max-width: 1380px) {
    #menu-button {
        width: 28px;
        height: 17px;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        margin-right: 30px;
    }

    #menu-button .line {
        width: 100%;
        height: 3px;
        border-radius: 10px;

        background-color: #383838;
    }

    #menu-line-1, #menu-line-2, #menu-line-3 {
        transition: all 400ms;
    }

    #mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        position: fixed;
        right: 0px;
        top: 0px;

        width: 100vw;
        height: 100vh;

        padding: 90px 20px 20px 20px;

        transition: all 300ms;

        box-shadow: 0px 0px 15px -10px black;
        background-color: white;

        z-index: 99;

        opacity: 0;
        display: none;
    }

    #mobile-menu .link {
        color: #383838;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;

        padding: 6px;
    }
}

@media (max-width: 374px) {
    #mobile-menu .link {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    #menu-button {
        margin-right: 20px;
    }
}