#register {
    width: 100%;
}

#register .content {
    width: 100%;

    display: flex;
    flex-direction: row;
}

#register .content .left-panel {
    /*position: relative;*/

    width: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #A161B3;
}

@media (max-width: 1200px) {
    #register .content .left-panel {
        display: none;
    }
}

#register .content .left-panel .icon {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

#register .content .right-panel {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 50px;

    background-color: #F5F5F5;
    background-color: white;
}

@media (max-width: 800px) {
    #register .content .right-panel {
        padding: 20px 20px 50px 20px;
    }
}

#register .content .right-panel .title {
    color: #383838;
    font-size: 40px;
    font-weight: 700;

    margin-bottom: 10px;
}

#register .content .right-panel .heading {
    color: #383838;
    font-size: 25px;
    font-weight: 700;
}

#register .content .right-panel .choice {
    display: flex;
    flex-direction: row;

    margin-top: 20px;
}

#register .content .right-panel .choice .item {
    color: #383838;
    font-size: 16px;
    font-weight: 700;

    padding: 10px 25px;
    margin-right: 10px;

    cursor: pointer;

    transition: all 100ms;

    background-color: rgba(0, 0, 0, 0.07);
}

#register .content .right-panel .choice .item:hover {
    background-color: rgba(0, 0, 0, 0.14);
}

#register .content .right-panel .text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;

    width: 75%;

    margin-bottom: 30px;
}

@media (max-width: 800px) {
    #register .content .right-panel .text {
        width: 100%;
    }
}

#register .content .right-panel .field {
    color: black;
    font-size: 15px;
    font-weight: 400;

    padding: 8px;

    margin-bottom: 10px;

    width: 350px;

    border: 1px solid lightgray;
    outline: none;
}

@media (max-width: 800px) {
    #register .content .right-panel .field {
        width: 100%;
    }
}

#register .content .right-panel .problem-list {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    margin-top: 30px;
}

@media (max-width: 800px) {
    #register .content .right-panel .problem-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

#register .content .right-panel .problem-list .item {
    color: #383838;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;

    cursor: pointer;

    transition: all 100ms;

    background-color: rgba(0, 0, 0, 0.07);
}

#register .content .right-panel .problem-list .item:hover {
    background-color: rgba(0, 0, 0, 0.14);
}

#register .content .right-panel .samples {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;

    margin-top: 50px;
}

@media (max-width: 800px) {
    #register .content .right-panel .samples {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px 30px;
    }
}

#register .content .right-panel .samples .item {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 150px;

    padding: 0px;

    cursor: pointer;

    transition: all 100ms;

    border-radius: 5px;

    border: 2px solid transparent;

    border-radius: 10px;

    background-color: white;
}

#register .content .right-panel .samples .item .image {
    height: 80%;

    margin: 0px;
    margin-left: 20px;

    object-fit: contain;
}

#register .content .right-panel .samples .item .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin: 25px;

    width: 100%;
}

#register .content .right-panel .samples .item .info .name {
    color: #383838;
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 5px;
}

#register .content .right-panel .samples .item .info .nickname {
    color: #383838;
    font-size: 16px;
    font-weight: 700;

    margin-bottom: 5px;
}

#register .content .right-panel .samples .item .info .text {
    color: #383838;
    font-size: 16px;
    font-weight: 400;

    margin: 0px;

    width: 100%;
}

#register .content .details {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px 20px;

    align-items: center;

    margin-top: 30px;
}

@media (max-width: 800px) {
    #register .content .details {
        width: 100%;
    }
}

#register .content .details .heading {
    color: #383838;
    font-size: 16px;
    font-weight: 700;

    margin: 0px;
    padding: 0px;
    padding-right: 50px;
}

#register .content .details .info {
    color: #383838;
    font-size: 15px;
    font-weight: 400;

    margin: 0px;
    padding: 0px;
}

#register .content .right-panel .bottom-panel {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 50px;
}

#register .content .right-panel .troubleshooting {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;

    color: #383838;
    font-size: 16px;
    font-weight: 400;

    margin-left: 20px;

    cursor: pointer;
}

@media (max-width: 600px) {
    #register .content .right-panel .bottom-panel {
        flex-direction: column;
        align-items: flex-start;
    }

    #register .content .right-panel .troubleshooting {
        margin: 0px;
        margin-top: 20px;
    }
}

#register .content .right-panel .troubleshooting:hover {
    text-decoration: underline;
}

#register .content .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0px;
    padding: 0px;

    margin-top: 10px;

    cursor: pointer;
}
  
#register .content .checkbox .bullet {
    width: 15px;
    height: 15px;

    border-radius: 50%;

    margin: 0px;
    padding: 0px;

    background-color: rgba(0, 0, 0, 0.1);
}

#register .content .checkbox .title {
    color: #383838;
    font-size: 16px;
    font-weight: 400;

    margin: 0px;
    padding: 0px;

    margin-left: 10px;
}

#register .social-link {
    color: #A161B3;
    text-decoration: none;
}