#shop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shop .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 100%;
    max-width: 1800px;
}

#shop .content .product-panel {
    display: flex;
    flex-direction: column;

    flex: 1;
}

#shop .content .product-panel .upper-panel {
    padding: 50px;
}

@media (max-width: 1300px) {
    #shop .content .product-panel .upper-panel {
        padding: 30px;
    }
}

@media (max-width: 800px) {
    #shop .content .product-panel .upper-panel {
        padding: 20px;
    }
}

#shop .content .product-panel .upper-panel .title {
    color: #383838;
    font-size: 40px;
    font-weight: 700;

    margin-bottom: 20px;
}

@media (max-width: 800px) {
    #shop .content .product-panel .upper-panel .title {
        font-size: 30px;
    }
}

#shop .content .product-panel .upper-panel .text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

    width: 70%;
}

@media (max-width: 1000px) {
    #shop .content .product-panel .upper-panel .text {
        width: 100%;
    }
}

#shop .content .product-panel .filters {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0px 50px;
}

@media (max-width: 1300px) {
    #shop .content .product-panel .filters {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 0px 30px;
    }
}

@media (max-width: 800px) {
    #shop .content .product-panel .filters {
        padding: 0px 20px;
    }
}

#shop .content .product-panel .filters .field {
    color: #383838;
    font-size: 15px;
    font-weight: 400;

    padding: 8px;
    margin: 0px;
    margin-right: 20px;

    width: 250px;

    border: 1px solid lightgray;
    outline: none;
}

@media (max-width: 800px) {
    #shop .content .product-panel .filters .field {
        width: 100%;

        margin: 0px;
    }
}

#shop .content .product-panel .filters .button-filled {
    align-self: center;
}

@media (max-width: 800px) {
    #shop .content .product-panel .filters .button-filled {
        margin-left: 20px;
    }
}

.button-filters {
    display: flex;
    flex-direction: row;
    align-items: center;

    display: none;

    color: #383838;
    font-size: 18px;

    flex: 1;

    padding: 10px;

    border-radius: 5px;

    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.05);
}

.button-filters ion-icon {
    width: 25px;
    height: 25px;

    margin-right: 10px;
}

@media (max-width: 1000px) {
    .button-filters {
        display: flex;

        margin: 20px 30px;
    }
}

@media (max-width: 800px) {
    .button-filters {
        margin: 20px;
    }
}

#shop .content .product-panel .products {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 80px;

    padding: 50px;

    margin-bottom: 30px;
}

@media (max-width: 1300px) {
    #shop .content .product-panel .products {
        gap: 60px 20px;

        padding: 50px 30px;
    }
}

@media (max-width: 1200px) {
    #shop .content .product-panel .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    #shop .content .product-panel .products {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;

        padding: 50px 20px;
        padding-top: 20px;
    }
}

#shop .content .product-panel .products .product {
    display: flex;
    flex-direction: column;

    text-decoration: none;

    position: relative;
}

#shop .content .product-panel .products .product .image {
    width: 100%;
    height: 230px;
    object-fit: contain;

    padding: 30px 0px;
    margin-bottom: 10px;

    background-color: rgba(0, 0, 0, 0.03);

    padding: 10px;
    background-color: transparent;
}

#shop .content .product-panel .products .product .top-12 {
    position: absolute;
    top: -10px;
    left: -10px;

    width: 50px;
    height: 50px;

    z-index: 2;
}

#shop .content .product-panel .products .product .name {
    color: #383838;
    font-size: 20px;
    font-weight: 700;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#shop .content .product-panel .products .product .description {
    color: #383838;
    font-size: 15px;
    font-weight: 400;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    margin-top: 8px;
}

@media (min-width: 700px) {
    #shop .content .product-panel .products .product .panel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-top: 15px;
    }

    #shop .content .product-panel .products .product .panel .price {
        color: #383838;
        font-size: 18px;
        font-weight: 700;
    }
}

@media (max-width: 700px) {
    #shop .content .product-panel .products .product .panel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin-top: 15px;
    }

    #shop .content .product-panel .products .product .panel .price {
        color: #383838;
        font-size: 20px;
        font-weight: 700;

        margin-bottom: 15px;
    }
}

#shop .content .product-panel .products .product .panel .sold-message {
    color: #A161B3;
    font-size: 18px;
    font-weight: 700;
}

#shop .content .product-panel .products .product .panel .button-filled {
    font-size: 13px;
    font-weight: 400;
    padding: 6px 15px;
}

#shop .content .product-panel .empty-message {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 75px 50px;

    color: #383838;
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 800px) {
    #shop .content .product-panel .empty-message {
        align-items: flex-start;

        padding: 50px 20px;
    }
}

#more-button {
    align-self: center;

    margin-bottom: 50px;
}